body {
   background-color:#89CFF0;
   max-width: 980px;
   margin: auto;
}

h1,h2,h3
{
 font-family: Arial, Tahoma;  
}

h1,h2,h3
{
 font-family: Arial, Tahoma;  
}

h3 {
   margin-bottom: 30px;
}

h2 {
   margin-top: 30px;
   margin-bottom: 15px;
}

ul.lista-top {
   margin-bottom: 25px;
   font-size: 30px;
}

hr {
   margin-top: 25px;
   margin-bottom: 20px;
}

p
{
 font-size:35px;
}

section
{
background-color:#111111;
font-family: Courier, Arial;
padding:80px
}

nav {
   font-size: 22px;
}

footer {
background-color:#333333;
font-family: Courier, Arial;
padding:16px;
color:#FFFFFF;
font-size: 20px;
text-align:center;
font-weight: bold;
}

img, video, div, section {
     background-color: transparent;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

{
@media all and (min-width:960px)
{
body
{
width:980px;
margin:auto;
}
}

@media all and (max-width:640px)
{
nav
{
height:100%;
}

nav li
{
display:block;
padding:10xp;
margin:0px;
}
}

